/*---- Allgemein ----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend';
}

html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100%;
    margin: 0;
    font-size: 16px;
    overflow-x: hidden;
}

.wrapper{
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100vw;
    height: 100vh;
}

body, html {
    overflow-x: hidden;
    }

.feather{
    height: 18px;
    width: 18px;
}



/*---- Text ----*/

.subtitle, .subname{
    font-size: 14px;
    color: #393B3D;
}



/*---- Header ----*/

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 40px;
    margin: 20px 0 0 0;
}

#logo{
    height: 40px;
}

#user-header{
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 16px;
}

#user-header img{
    width: 40px;
    height: 40px;
    border-radius: 4px;
    cursor: pointer;
}

#user-menu{
    border: 1px solid #232527;
    border-radius: 4px;
    width: auto;
    padding: 8px 4px;
    position: absolute;
    right: -250px;
    margin-top: 16px;
    background-color: white;
    transition: right 0.1s ease-out;
}

#user-menu.open{
    right: 40px;
}

#user-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#user-menu input{
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color: #232527;
    color: white;
    height: 32px;
    cursor: pointer;
    margin-top: 4px;
}

#footer-menu{
    border: 1px solid #232527;
    border-radius: 4px;
    width: auto;
    padding: 8px 4px;
    position: absolute;
    right: -250px;
    bottom: 58px;
    margin-bottom: 16px;
    background-color: white;
    transition: right 0.1s ease-out;
}

#footer-menu.open{
    right: 40px;
}

#footer-menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.menu-link{
    cursor: pointer;
    text-decoration: none;
    text-transform: none;
    color: #232527;
    font-size: 1rem;
}

.menu-link:hover{
    color: #3B3D40;
}

#username{
    text-transform: capitalize;
}





/*---- Footer ----*/

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 35px;
    position: static;
    margin-bottom: 20px;
    padding: 0 40px;
}

footer .feather{
    color: white;
    width: 18px;
    height: 18px;
}

.footer-button, .footer-button_long{
    height: 35px;
    background-color: #6D8788;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.footer-button.dark, .footer-button_long.dark{
    background-color: #232527;
}
.footer-button.dark:hover, .footer-button_long.dark:hover{
    background-color: #3B3D40;
}

.footer-button.light, .footer-button_long.light{
    background-color: #CCCCCC;
    color: #232527;
    .feather{
        color: #232527;
    }
}
.footer-button.light:hover, .footer-button_long.light:hover{
    background-color: #DCDCDC;
}

.footer-button_long{
    padding: 0 8px 0 8px; 
    gap: 8px;
}

.footer-button{
    width: 35px;
}

.footer-button:hover, .footer-button_long:hover{
    background-color: #556364;
}



/*---- Main ----*/

main{
    width: 100%;
    height: calc(100% - 175px);
    margin-top: 40px;
    margin-bottom: 16px;
    padding: 0 40px 0 40px;
}

h1{
    font-size: 24px;
    text-transform: uppercase;
}

.space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subtitle{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 4px;
}

.status-container{
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    border-radius: 4px;
    border: none;
    padding: 2px 8px 2px 8px;
    color: #232527;
}

.status-container.show{
    display: flex;
}

#mat-nr{
    font-size: 14px;
    color: #CCCCCC;
}

.infoHolder{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.disp-text{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.disp-text .text-container{
    width: 100%;
    height: 30px;
    display: flex;
    padding: 0 4px 0 4px;
    background-color: #CCCCCC;
    align-items: center;
    border-radius: 2px;
    border: none;
    font-size: 16px;
}

.text-container.center{
    justify-content: center;
}

.subname .feather{
    height: 12px;
    width: 12px;
    margin-left: 8px;
}

.text-bem{
    width: 100%;
    height: 120px;
    background-color: #CCCCCC;
    border-radius: 2px;
    border: none;
    padding: 4px;
}

input[type='checkbox']{
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 4px;
    background-color: #CCCCCC;
    accent-color: #6D8788;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.grid-12{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    gap: 16px;
}

.modal{
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(35, 37, 39, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.modal.open{
    display: flex;
}

.modal-content{
    width: 100%;
    min-height: 125px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #232527;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.modal-content .feather{
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.modal-img{
    width: 100%;
    border-radius: 2px;
    margin-top: 16px;
}

.search-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    border: none;
    background-color: #CCCCCC;
    margin-top: 8px;
    border-radius: 4px;
}

.search-container input{
    width: 100%;
    border: none;
    background-color: #CCCCCC;
    padding: 0 4px 0 4px;
}

.search-container button{
    border: none;
    background-color: #CCCCCC;
    margin-right: 8px;
}

.bestand-list{
    list-style: none;
    margin-top: 16px;
    border: none;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: calc(100% - 104px);
    scrollbar-width: none;
    scrollbar-color: #232527;
}

.bestand-list li{
    display: flex;
    width: 100%;
    height: 26px;
    padding: 0 4px 0 4px;
    cursor: pointer;
    align-items: center;

    .vertical-line{
        border-left: 2px solid #CCCCCC;
        height: 26px;
        margin: 0 4px;
    }

    &:nth-child(even){
        background-color: #CCCCCC;

        .vertical-line{
            border-left-color: #232527;
        }
    }
}

.bestand-list div p{
    width: 28px;
    justify-content: left;
}

.profile-img{
    width: 25%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    border-radius: 4px;
    background-color: #CCCCCC;
}

.errorMessage{
    width: 100%;
    background-color: #B2000D;
    color: white;
    padding: 4px;
    border-radius: 4px;
    text-wrap: wrap;
}

.count-container{
    border: 1px solid #232527;
    border-radius: 4px;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    p{
        text-decoration: none;
        color: #232527;
    }
}

.delMatBtn{
    height: 20px;
    width: 20px;
    background-color: #B2000D;
    color: white;
    border-radius: 4px;
    text-align: center;
    display: inline-block;

    .feather{
        height: 18px;
        width: 18px;
    }
}

#qrcode{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
}

details{
    width: 100%;
    &[open] summary{
        border-bottom: 2px solid #232527;
    }
}

summary{
    padding: 4px;
    display: flex;
    justify-content: space-between;
    
}
